<mat-sidenav-container class="menu-lateral" (backdropClick)="close()">
  <mat-sidenav class="menu-lateral-emergente" #sidenav (keydown.escape)="close()" disableClose>
    <p><button class="enlace-lateral" mat-button (click)="close()" routerLink="nosotros">Nosotros</button></p>
    <p><button mat-button (click)="close()" routerLink="catalogo">Catálogo</button></p>
    <p><button mat-button (click)="close()" routerLink="opiniones">Opiniones</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="inicio"><img src="./assets/logo_gallina_sitio.png" width="50"></a>
      <a routerLink="inicio" class="enlace-oculto">&nbsp;Canto alegre</a>
      <span class="alineacion-menu"></span>
      <button mat-flat-button color="primary" routerLink="nosotros">Nosotros</button>
      <button mat-flat-button color="primary" routerLink="catalogo">Catálogo</button>
      <button mat-flat-button color="primary" routerLink="opiniones">Opiniones</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>